.bg-blue {
    background-color: #3939c7;
    color: white;
}

.bg-blue:hover {
    background-color: #2c2c98;
    color: white;
}

.div-round {
    display: inline-flex;
    width: 55px;
}

.div-round i {
    font-size: 55px;
}

.div-round div {
    margin-left: -31px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
}

.box-theme-radius {
    border-radius: 0px 20px 0px 20px;
}

/* Progressing */

.progress-group {
    /* width: 300px; */
    /* padding: 50px 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.circular-progress {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s;
}

.circular-progress::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFF;
}

.circular-value {
    position: relative;
    font-size: 13px;
    font-weight: 400;
}

.text-theme {
    color: #4F7CBA;
}

.fixed-content {
    bottom: unset;
    position: fixed;
    top: 5rem;
    z-index: 9;
}

.custom-text {
    text-transform: lowercase;
}

.custom-text::first-letter {
    text-transform: uppercase;
    /* Make the first letters uppercase      */
}

hr:not([size]) {
    height: 1px;
}

hr {
    color: var(--gray);
}


/* <> Multi select */
.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 1px #e7e7e7 solid;
}

.checkboxes label {
    display: block;
    padding-inline: 10px;
    padding-bottom: 5px;
}

.checkboxes label input {
    margin-right: 5px;
}

.checkboxes label:hover {
    background-color: #e7e7e7;
}

/* </> Multi select */